@import url("https://fonts.googleapis.com/css2?family=Sigmar+One&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: first baseline;
  align-items: center;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  background-color: #333;
  overflow-x: hidden;
}
.cell {
  width: 60px;
  height: 60px;
  border: 1px solid #fff;
  background-color: rgb(172, 183, 204);
}

.rabbit {
  width: 60px;
  height: 60px;
  border: 1px solid #fff;
  background: url(./images/bunny.png);
  background-size: contain;
}

.wolf {
  width: 60px;
  height: 60px;
  border: 1px solid #fff;
  background: url(./images/wolf.png);
  background-size: contain;
}

.house {
  width: 60px;
  height: 60px;
  border: 1px solid #fff;
  background: url(./images/house.png);
  background-size: contain;
}

.fence {
  width: 60px;
  height: 60px;
  border: 1px solid #fff;
  background: url(./images/fence.png);
  background-size: contain;
}
